
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Horizontal form</h2>
  <form action="" method="POST">
    {% csrf_token %}
  
    {% for field in form %}
          
           {{ field }} 
         
         
  
  {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="edit" class="btn btn-default">edit</button>
       
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">city
          <span class="caret"></span></button>
          
            <li class="dropdown-header">Tap on one</li>
            <li><a href="#">haridwar</a></li>
            <li><a href="#">rookee</a></li>
            <li><a href="#">Noida</a></li>
            
          </ul>
        </div>
      </div>

      
  </form>
  <div>{% for row in result %}
          
    <p>{{ row.name }}</p>
    <p>{{ row.f_name }}</p> 
  
  

{% endfor %}</div>
</div>

</body>
</html>
